root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[**.{md,sh,json}]
insert_final_newline = false

[.{env,env.*,nvmrc,yvmrc,npmrc,prettierignore,prettierrc,eslintignore,eslintrc,babelrc,stylelintrc,editorconfig}]
insert_final_newline = false
trim_trailing_whitespace = false

[default-packages]
insert_final_newline = false
trim_trailing_whitespace = false