chrome/*
!chrome/Default/
chrome/Default/*
chrome/Default/Extensions/
!chrome/Default/Extensions/nhdogjmejiglipccpnnnanhbledajbpd
!chrome/Default/Preferences

canary/*
!canary/Default/
canary/Default/*
canary/Default/Extensions/
!canary/Default/Extensions/nhdogjmejiglipccpnnnanhbledajbpd
!canary/Default/Preferences
